
<div id="feedbox">
    <img id="grayline" src="/images/grayline.png">
    <h1 type="text" id="feedhead">Уведомления</h1>
    <img id="line4" src="/images/line4.png">
<div id="requests">
    <%if(req_users!=null){
        for(var i=0;i<req_users.length;i++){%>
            <div class="request">
                <img class="requserImg" src="..<%=req_users[i].profile_photo%>">
                <a class="requserName" href="/<%=req_users[i].id%>/news"><%=req_users[i].name+" "+req_users[i].surname%></a>
                <output id="accept">отправил запрос на добавление!</output>
                <div class="buttons" >
                    <button class="requserAcceptButton" id="<%=req_users[i].id%>0" id_user="<%=req_users[i].id%>" onclick="add(this)">Принять заявку</button>
                    <button class="requserDeclineButton" id="<%=req_users[i].id%>1" id_user="<%=req_users[i].id%>">Отклонить заявку</button>
                </div>
            </div>
    <%}}%>
</div>
</div>
<script>
    var add = function (value) {
        var id = $(value).attr("id_user");
        $.ajax({
            type:"POST",
            url:"/accept",
            data:"id="+id,
            success:function (data) {
                if (data.isAdded) {
                    $("#" + id +"0").css({
                        "background-image":"url('../images/success123.png')",
                        "position":"absolute",
                        "top":"66px",
                        "left":"80px",
                        "width":"161px",
                        "height":"23px",
                        "font": "12px sans-serif",
                        "color": "white"

                    }).text("Заявка принята");
                    $("#"+ id +"1").css("display","none");

                }
            }
        })
    }
</script>