<div id="feedbox">
    <img id="grayline" src="/images/grayline.png">
    <h1 type="text" id="feedhead">Мои друзья</h1>
    <img id="line4" src="/images/line4.png">
    <div id="friends">
        <%if(friends!=null){
        for(var i=0;i<friends.length;i++){%>
        <div class="onlyFriend">
            <img class="friendImg" src="..<%=friends[i].profile_photo%>">
            <a class="friendName" href="/<%=friends[i].id%>/news"><%=friends[i].name+" "+friends[i].surname%></a>
            <div class="buttons" id="<%=friends[i].id%>">
                <button class="deleteFriend" id_user="<%=friends[i].id%>" onclick="del(this)">Удалить пользователя</button>
                <button class="sendmessage" id_user="<%=friends[i].id%>">Написать сообщение</button>
            </div>
            <img class="friendsline" src="/images/friendsline.png">
        </div>
        <%}}%>
    </div>
</div>
<script>
    var del = function (id) {
        $.ajax({
            type:"POST",
            url:"/deletefriend",
            data:"id="+$(id).attr("id_user"),
            success:function (data) {
                if(data.result){
                    $(location).attr('href','/<%=id%>/friends');
                }else {
                    alert("Не удалось удалить пользователя");
                }
            }
        })
    };

</script>