<link rel="stylesheet" href="../stylesheets/friends.css"/>
<div id="feedbox">
    <img id="grayline" src="/images/grayline.png">
    <h1 type="text" id="feedhead">Мои друзья</h1>
    <img id="feedline" src="/images/feedline.png">
    <div id="requests">
        <%if(req_users!=null){
        for(var i=0;i<req_users.length;i++){%>
        <div class="request">
            <img class="requserImg" src="..<%=req_users[i].profile_photo%>">
            <a class="requserName" href="/profile/<%=req_users[i].id%>"><%=req_users[i].name+" "+req_users[i].surname%></a>
            <output>хочет добавить вас в друзья</output>
            <div class="buttons" id="<%=req_users[i].id%>">
                <button class="requserAcceptButton" id_user="<%=req_users[i].id%>" onclick="add(this)">Добавить в друзья</button>
                <button class="requserDeclineButton" id_user="<%=req_users[i].id%>">Стратить смерда</button>
            </div>
        </div>
        <%}}%>
    </div>
</div>